.annual 
    figure
        position sticky 
        top 15vh
        height 50vh
        max-width $column-width
        margin 0 auto
        +mq('bp-3')
            top 25vh
        .annual__amount 
            fill $bg
            font-family $national-narrow 
            font-weight bold 
            set-type-size('small')
            +mq('bp-3')
                set-type-size('medium')
        .location 
            font-family $national-narrow 
            set-type-size('medium')
            fill $primary
            &::first-letter 
                font-size bold
            +mq('bp-3')
                set-type-size('large')
        .break 
            stroke $primary
            stroke-width 1px
            stroke-dasharray 5,5
            opacity 1
            transition opacity 300ms ease-in-out
            &.is-hidden
                opacity 0
                transition opacity 300ms ease-in-out
    &__scroll 
        position relative
        max-width $column-width
        margin 0 auto
        .step-prose 
            font-family $national
            max-width 30rem
            margin 0 auto 
            padding 1rem 2rem
            background-color $bg
            border 2px solid $primary