.annual 
    figure
        position sticky 
        top 25vh
        height 50vh
        border 1px solid $black
        max-width $column-width
        margin 0 auto
        .annual__amount 
            fill white
    article 
        position relative
        max-width $column-width
        margin 0 auto