.annual 
    figure
        position sticky 
        top 25vh
        height 50vh
        border 1px solid $black
        max-width $column-width
        margin 0 auto
        .annual__amount 
            fill white
        .break 
            stroke red
            stroke-width 1px
            stroke-dasharray 5,5
            opacity 1
            transition opacity 300ms ease-in-out
            &.is-hidden
                opacity 0
                transition opacity 300ms ease-in-out
    article 
        position relative
        max-width $column-width
        margin 0 auto