.intro
	margin 0 auto
	padding 4rem 1rem 3rem 1rem
	min-height 100%
	+mq('bp-3')
		padding 6rem 1rem 3rem 1rem

	&__hed
		max-width 60rem
		margin 0 auto 4rem auto
		text-align left
		font-family $national
		font-weight bold
		set-type-size('xxxx-large')
		max-width $column-width
		line-height 1.3
		padding 0 1rem
		+mq('bp-3')
			set-type-size('xxxxx-large')
			line-height 1.2
		span 
			padding 0 0.5rem
			background-color $primary
			color $bg


	&__details 
		display flex 
		max-width $column-width
		margin 0 auto
		justify-content space-between
		padding 0 1rem


	&__byline
		max-width $column-width
		margin-top 1rem
		text-align left
		font-family $national-narrow
		set-type-size('large')
		+mq('bp-3')
			set-type-size('x-large')
	
	&__time
		display block
		max-width $column-width
		margin-top 1rem
		text-align right
		font-family $national-narrow
		set-type-size('large')
		+mq('bp-3')
			set-type-size('x-large')

	&__user
		max-width $column-width 
		margin 0 auto
		display flex 
		align-items center
		cursor pointer
		&-prompt 
			font-family $national-narrow 
			set-type-size('root')
			text-align center 
			background-color rgba($primary, .12)
			display inline-block
			padding 0.25rem 1rem
			margin 0 auto
			max-width 20rem

	&__overlay 
		width 100%
		height 100%
		background-color rgba($bg, .9)
		position fixed
		display flex 
		align-items center 
		justify-content center
		opacity 1 
		pointer-events all
		&.is-hidden 
			opacity 0
			pointer-events none
		&-popup 
			width 50%
			height 250px
			margin 0 auto
			padding 0 1rem
			background-color $bg
			border 2px solid $primary
			display flex 
			flex-direction column
			justify-content center
			align-items center
			p 
				font-family $national-narrow 
				set-type-size('medium')
			button 
				background-color $primary 
				color $bg
				padding 0.25rem 0.5rem 
				font-family $national-narrow 
				font-weight bold
				max-width 90px
				

