.methods 
    max-width $column-width 
    margin 0 auto 
    padding 0 1rem
    border-top 1px solid $primary
    &-sub
        font-family $national-narrow 
        font-weight bold 
        set-type-size('large')
        margin 2rem 0 0.5rem 0
    &-prose
        font-family $national-narrow 
        set-type-size('root')
        margin 0.5rem 0