/* CUSTOM STORY STYLE */

body 
    background  linear-gradient(
      rgba(215, 209, 215, 0.95), 
      rgba(215, 209, 215, 0.95)
    ), url('assets/images/rain.png')
    background-blend-mode screen
.figure__hed 
    max-width $column-width 
    margin 0 auto
    font-family $national
    padding 0 1rem
    set-type-size('xx-large')

.figure__sub
    max-width $column-width 
    margin 0 auto 1rem auto
    font-family $national-narrow
    padding 0 1rem
    set-type-size('small')
    text-transform uppercase

figure 
    margin-top 2rem