<section class='annual'>

    <figure class='annual__figure'>
        <h2 class='figure__hed'>{{{doc.annual-hed}}}</h2>
    </figure>
    <article class='annual__scroll'>
        {{#each doc.compare-nonSeattle}}
        <div class='step' data-step='{{{step}}}' id='step-{{{step}}}'>
            <div class='step-text-container'>
                <p class='step-prose'>{{{text}}}</p>
            </div>
        </div>
        {{/each}}
    </article>

</section>