<section class='methods'>
    <article>
        <h3 class='methods-sub'>{{{doc.source-hed}}}</h3>
        <p class='methods-prose'>{{{doc.source}}}</p>

        <h3 class='methods-sub'>{{{doc.precip-hed}}}</h3>
        <p class='methods-prose'>{{{doc.precip}}}</p>
    </article>
</section>