<div class='intro__overlay is-hidden'>
    <div class='intro__overlay-popup'>
        <p class='intro__popup-prose'>{{{doc.popup}}}</p>
        <div class='popup__dropdowns'>
            <select class='user__state'></select>
            <select class='user__city'></select>
        </div>
        <button class='popup__submit'>Submit</button>


    </div>
</div>